@font-face {
    font-family: 'Space Grotesk';
    src: url('../fonts/Space-Grotesk/SpaceGrotesk-SemiBold.eot');
    src: url('../fonts/Space-Grotesk/SpaceGrotesk-SemiBold.woff') format('woff'),
        url('../fonts/Space-Grotesk/SpaceGrotesk-SemiBold.woff2') format('woff2'),
        url('../fonts/Space-Grotesk/SpaceGrotesk-SemiBold.ttf') format('truetype'),
        url('../fonts/Space-Grotesk/SpaceGrotesk-SemiBold.svg') format('svg');
}

body {
    font-weight: normal;
    font-style: normal;
    color: #eeeeee;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.about-section {
    font-family: 'Bebas Neue', serif;
    /* font-size: 2rem; */
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    /* Variables */
    --para-font-size: 1.3rem;
}

.about-description-box {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 6px;
    align-self: flex-end;
    align-content: flex-start;
    justify-content: start;
}

@media only screen and (max-width: 600px) {
    .about-description-box {
        width: 66%;
    }
}

.about-header-box {
    padding: 0;
    width: 100%;
}

.about-header {
    font-family: 'Bebas Neue', cursive;
    padding: 0;
    font-size: 6rem;
    line-height: 5rem;
    text-align: justify;

    background: linear-gradient(to bottom left, #e2d4d8, #eeeeee);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about-intro-box {
    font-size: var(--para-font-size);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.about-intro-left {
    text-align: left;
    height: 100%;
}

.about-intro-middle {
    text-align: center;
    height: 100%;
}

.about-intro-right {
    text-align: right;
    height: 100%;
}

.about-para-box {
    width: 100%;
}

.about-para-main {
    font-size: var(--para-font-size);
    text-align: justify;
}

.about-nav-box {
    display: flex;
    width: 100%;
    align-self: flex-end;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.about-nav {
    font-size: var(--para-font-size);
    color: #eeeeee;
}
