body {
    font-family: 'VT323', monospace;
    font-weight: normal;
    font-style: normal;
    color: #eeeeee;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.about-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-heading-box {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.about-heading {
    font-size: 10rem;
    padding: 25px;
    color: #ff00ff;
    /* background-color: rgba(0, 0, 0, 0.85); */
}

.about-para-box {
    position: relative;
    align-self: flex-end;
    right: 0;
    width: 50%;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.about-para-1 {
    font-size: 1.5rem;
    padding: 50px;
    text-align: end;
    color: #00f9ff;
    background-color: rgba(0, 0, 0, 0.85);
}

.about-para {
    font-size: 1.5rem;
    padding: 50px;
    text-align: end;
    color: #ff00ff;
    background-color: rgba(0, 0, 0, 0.85);
}

.about-top-link-box {
    position: fixed;
    align-self: start;
    padding-top: 50px;
    padding-left: 50px;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.85);
}

.about-top-link-text {
    font-size: 1.5rem;
    color: #ff00ff;
}

.about-bottom-left-link-box {
    position: fixed;
    align-self: start;
    padding-bottom: 50px;
    padding-left: 50px;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.85);
}

.about-bottom-left-link-text {
    font-size: 1.5rem;
    color: #ff00ff;
}

.about-bottom-link-box {
    position: relative;
    align-self: flex-end;
    padding-bottom: 50px;
    padding-right: 50px;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.85);
}

.about-bottom-link-text {
    font-size: 1.5rem;
    color: #ff00ff;
}
