@font-face {
    font-family: 'Novar';
    src: url('../fonts/Novar/Novar.eot');
    src: url('../fonts/Novar/Novar.woff') format('woff'),
        url('../fonts/Novar/Novar.woff2') format('woff2'),
        url('../fonts/Novar/Novar.ttf') format('truetype'),
        url('../fonts/Novar/Novar.svg') format('svg');
}

@font-face {
    font-family: 'Faune';
    src: url('../fonts/Faune/Faune-TextItalic.eot');
    src: url('../fonts/Faune/Faune-TextItalic.woff') format('woff'),
        url('../fonts/Faune/Faune-TextItalic.woff2') format('woff2'),
        url('../fonts/Faune/Faune-TextItalic.ttf') format('truetype'),
        url('../fonts/Faune/Faune-TextItalic.svg') format('svg');
}

::selection {
    background: #eeeeee; /* WebKit/Blink Browsers */
    color: #333333;
}
::-moz-selection {
    background: #eeeeee; /* Gecko Browsers */
    color: #333333;
}

body {
    font-family: 'Faune', serif;
    font-weight: normal;
    font-style: normal;
    color: #eeeeee;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.contact-section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.contact-info-box {
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-paragraph {
    font-size: 1.5rem;
    color: #eeeeee;
}

.eye {
    top: 0;
    position: absolute;
}

.email {
    position: relative;
}

.navigation-box {
    position: absolute;
    bottom: 0;
    padding-right: 5px;
    padding-bottom: 25px;
    display: flex;
    /* flex-direction: column; */
    align-items: flex-end;
    justify-content: end;
}

.navigation-text {
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 1.5rem;
    line-height: 1.5rem;
    color: #eeeeee;
    text-align: end;
}

.hover-contact:after {
    content: '';
    position: absolute;
    bottom: -5%;
    left: 0;
    right: 0;
    width: 100%;
    height: 3px;
    transform: scaleX(0);
    background-color: #eeeeee;
    transition: transform 0.3s;
}

.hover-contact:hover:after {
    transform: scaleX(1);
}
