:root {
    --innerRadius: 0px;
}

html {
    font-size: 25px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 14px;
    }
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

h1 span {
    /* for charming */
    display: inline-block;
}

.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 10;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.doughnut {
    display: none;
    box-sizing: border-box;
    border: 0 solid #000000;
    border-radius: 50%;
    height: 0;
    width: 0;
    background-color: transparent;
}

.doughnut-out {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
    overflow: hidden;
}

.doughnut-out:after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: var(--innerRadius);
    height: var(--innerRadius);
    border: 1000px solid #000000;
}
