@font-face {
    font-family: 'Blackletter';
    src: url('../fonts/Blackletter/fonts/blackletter.eot');
    src: url('../fonts/Blackletter/fonts/blackletter.woff2') format('woff2'),
        url('../fonts/Blackletter/fonts/blackletter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Basier Mono';
    src: url('../fonts/Basier-Square_Mono/basiersquaremono-regular-webfont.eot');
    src: url('../fonts/Basier-Square_Mono/basiersquaremono-regular-webfont.woff2') format('woff2'),
        url('../fonts/Basier-Square_Mono/basiersquaremono-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.home-section {
    font-family: 'Bebas Neue', sans-serif;
    font-weight: normal;
    font-style: normal;
    height: 100vh;
    width: 100%;
}

.home-title-box {
    position: relative;
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.home-title {
    margin: 0;
    padding: 0;
    top: 0;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 10vw;
    line-height: 8vw;
    text-align: center;
    color: #eeeeee;
}

a {
    text-decoration: none;
}

.home-navigation {
    position: absolute;
    font-size: 1.5rem;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-navigation-wrapper {
    position: relative;
    height: 100vh;
    width: 125vh;
    max-width: 100vw;
    font-family: 'Basier Mono', serif;
    color: #eeeeee;
    font-size: 0.9rem;
    line-height: 1rem;
}

.left-navigation {
    position: absolute;
    left: 0;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.right-navigation {
    position: absolute;
    right: 0;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.bottom-navigation {
    position: absolute;
    bottom: 0;
    padding-bottom: 33px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-link-box {
    margin-left: 75px;
    margin-right: 75px;
    position: relative;
    /* overflow: hidden; */
}

.nav-link {
    position: relative;
    color: #eeeeee;
    text-transform: uppercase;
}

.nav-animate {
    position: absolute;
    left: 0;
    top: 0;
    transition: transform 0.15s ease-out;
}

.shadow1 {
    opacity: 0.8;
}

.shadow2 {
    opacity: 0.5;
}

.shadow3 {
    opacity: 0.4;
}
.shadow4 {
    opacity: 0.3;
}

.nav-link-box:hover {
}

.nav-link-box:hover .shadow1 {
    transform: translateY(4px);
}

.nav-link-box:hover .shadow2 {
    transform: translateY(8px);
}

.nav-link-box:hover .shadow3 {
    transform: translateY(12px);
}

.nav-link-box:hover .shadow4 {
    transform: translateY(16px);
}

@media only screen and (max-width: 600px) {
    .home-title {
        margin-top: 7.5vw;
        font-size: 15vw;
        line-height: 13vw;
    }

    .home-navigation-wrapper {
        font-size: 1.1rem;
        line-height: 1.2rem;
    }
    .left-navigation-text {
        left: 15vw;
    }

    .right-navigation-text {
        right: 15vw;
    }

    .bottom-navigation-text {
        bottom: 15vw;
    }
}
