@font-face {
    font-family: 'Basier-Square-Mono';
    src: url('../fonts/Basier-Square_Mono/basiersquaremono-regular-webfont.eot');
    src: url('../fonts/Basier-Square_Mono/basiersquaremono-regular-webfont.woff2') format('woff2'),
        url('../fonts/Basier-Square_Mono/basiersquaremono-regular-webfont.woff') format('woff'),
        url('../fonts/Basier-Square_Mono/basiersquaremono-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 20px;
    font-family: 'Basier-Square-Mono', sans-serif;
    font-weight: normal;
    font-style: normal;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

.home-navigation {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-navigation-wrapper {
    position: relative;
    height: 100vh;
    width: 100vh;
    max-width: 100vw;
}

.left-navigation {
    position: absolute;
    left: 0;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-navigation-text {
    color: white;
    position: absolute;
    left: 0;
    transform: translate(100%) rotate(-90deg);
    transform-origin: center;
}

.right-navigation {
    position: absolute;
    right: 0;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.right-navigation-text {
    margin: 0;
    padding: 0;
    color: white;
    transform: translate(100%) rotate(90deg);
    transform-origin: left;
}

h1 {
    color: red;
}

h1 span {
    display: inline-block;
}
